*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: teal;
  color: white;
  padding: 12px 20px;
  border-radius: 0px 0px 20px 20px;
}
.navbar .menus{
  display: flex;
  gap: 40px;
}
.menus a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}
