*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* h2{
    color: red;
    text-align: center;
    background-color: aqua;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: antiquewhite;
}
.menus{
    display: flex;
    gap: 40px;
}